/* Importing font library */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
    min-height: 100vh;
    background-color: #6AC4D9;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;

}
/* Header Styling */

.header-links{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    color: #024059;
    font-size: 32px;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #024059;
    font-weight: bold;
    font-size: large;
}
/* Section 1 Styling */

.section-one{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 40px;
}

.adblock{
    max-width: 600px;
    
}
.imgplace {
    width: 300px;
    height: 200px;
    background-color: #024059;
    display: flex;
    color: #F2B694;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.signup {
    background-color: #024059;
    border-radius: 5px;
    color:#F2B694;
    font-weight: 900;
    padding: 5px 15px;

}

/* Section 2 Styling */
.section-two{
    padding: 20px;
   
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    font-weight: 900;
    padding-top: 20px;

}

.container-one {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}
.info{
    max-width: 200px;
}

.text{
    justify-content: center;
    text-align: center;
}

.emptybox {
    width: 200px;
    height: 200px;
    border: 5px solid #F2B694;
    border-radius: 10px;
    margin-bottom: 20px;
    background: transparent;
    
}

/* Section 3 Styling */

.section-three{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #024059;
    margin-top: 30px;
    color: #F2B694;
   
}

.quote {
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

cite {
    display: flex;
    justify-content: flex-end;
}

/* Section 4 Styling */


.section-four{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #024059;
   
}

.container-two {
    width: 800px;
    height: 100px;
    border-radius: 20px;
    padding: 20px;
    background-color: #F2B694;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
}

.signup2 {
    border: 2px solid #024059;
    background-color: transparent;
    color: #024059 ;
    padding: 5px 15px;
    border-radius: 5px;
}

/* Footer */
footer {
    position: relative;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    background: #024059;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2B694;
}